modules = ["nodejs-20", "web", "java-graalvm22.3"]
run = "npm install && npm start"
entrypoint = "server/index.js"

[nix]
channel = "stable-25_05"

[deployment]
build = ["npm", "ci"]
run = ["npm", "start"]
deploymentTarget = "vm"

[[ports]]
localPort = 3000
externalPort = 80
